.mainText {
  text-align: right;
}

.way1 {
  text-decoration: underline;
  text-align: center;
}

.way2 {
  text-align: left;
}

.way3 {
  text-decoration: line-through;
  text-align: justify-all;
}

.link {
  border: 3px solid orange;
  background-color: yellow;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px 15px;
}

.button {
  margin-top: 40px;
}

.wakeUp::marker {
    content: '⏰';
}

.work::marker {
content: '💼';
}

.home::marker {
content: '🏠';
}

.bed::marker {
    content: '🛏️';
}

.coloredList li::marker {
content: '❄';
}

.point1 {
    color: purple;
    font-weight: 700;
}
.point2 {
    color: red;
    text-decoration: line-through;
}
.point3 {
    color: pink;
    font-style: italic;
}
.point4 {
    color: blue;
}