body {
  background-color: rgb(112, 218, 138);
  margin: 0;
  font-family: math;
}

/* Navigation */

.nav {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 20px;
}
.nav a {
  float: left;
  background-color: inherit;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 15px 15px;
  font-size: 20px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}
.nav a.active {
  background-color: #04aa6d;
  color: white;
}

/* Button */

.link {
  border: 1px solid black;
  background-color: black;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
}

.button {
  margin: 20px;
  float: right;
}
.link:hover {
  background-color: #04aa6d;
  color: white;
}

/* Task */

/* transition */

.image {
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.tooltipText {
  width: fit-content;
  position: absolute;
  z-index: 1;
  bottom: 88%;
  left: 24%;
  background: white;
  font-size: 16px;
  padding: 2px;
  border-radius: 5px;
}
.tooltipText::after {
  content: "";
  margin-left: -5px;
  position: absolute;
  top: 100%;
  left: 50%;
  border: 5px solid;
  border-top-color: white;
  color: rgb(112, 218, 138);
}
.tooltipText2 {
  width: fit-content;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 88%;
  left: 24%;
  background: white;
  font-size: 16px;
  padding: 2px;
  border-radius: 5px;
}
.tooltipText2::after {
  content: "";
  margin-left: -5px;
  position: absolute;
  top: 100%;
  left: 14.7%;
  border: 5px solid;
  border-top-color: white;
  color: rgb(112, 218, 138);
}
.dog {
  display: block;
  height: 260px;
  width: 260px;
  margin: 30px auto;
  transition: width 2s ease-in;
}
.dog:hover {
  width: 100%;
}

.image:hover .tooltipText {
  visibility: hidden;
}
.image:hover .tooltipText2 {
  visibility: visible;
}

/* animation */

.animation {
  display: block;
  position: absolute;
  left: 15%;
  top: 10%;
  width: 100px;
  height: 100px;
  border-radius: 90%;
  background-color: rgb(95, 193, 238);
  animation: panda 5s linear infinite alternate;
}
@keyframes panda {
  0% {
    background-color: pink;
  }
  35% {
    left: 35%;
    top: 55%;
    background-color: violet;
  }
  50% {
    left: 45%;
    top: 45%;
    background-color: yellow;
  }
  65% {
    left: 60%;
    top: 55%;
    background-color: orange;
  }

  100% {
    left: 75%;
    top: 10%;
    background-color: red;
  }
}

/* Additional task */

.tooltip3 {
  width: fit-content;
  position: relative;
  margin: 7% auto 0;
  color: black;
  font-size: 28px;
  box-shadow: 0px 1px 20px 9px white;
  border-radius: 15px;
  padding: 0 10px;
}
.tooltip3Text {
  width: fit-content;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 30%;
  visibility: hidden;
  background: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 2px;
  border-radius: 5px;
}
.tooltip3Text::after {
  content: "";
  margin-left: -5px;
  position: absolute;
  top: 100%;
  left: 50%;
  border: 5px solid;
  border-top-color: #04aa6d;
  color: rgb(112, 218, 138);;
}

.tooltip3:hover .tooltip3Text {
  visibility: visible;
}
.tooltip3:hover {
    cursor:default;
   }

/* Mask */

.mask {
  width: fit-content;
  margin: 30px auto;
  background-image: url(https://us.123rf.com/450wm/hungchungchih/hungchungchih2112/hungchungchih211200002/179069298-cute-giant-panda-bear-couple-eating-together.jpg?ver=6);
  background-size: contain;
  background-position: center;
  border-radius: 10px;
}
.maskText {
    padding: 0 10px;
  display: block;
  font-size: 110px;
  font-weight: 900;
  color: black;
  background: white;
  border-radius: 10px;
  mix-blend-mode: lighten;
}
